source_url "https://github.com/tmatilai/direnv-1password/raw/v1.0.0/1password.sh" "sha256-EGpCcHQA5inHmMmkvj+TqIjPeNzzvG4F+BUXfFKb1c0="
from_op GH_TOKEN=op://Personal/GitHub/Token
export NIX_CONFIG="access-tokens = github.com=$GH_TOKEN"
use flake
